@media screen {
    .report_print_form {
        display: none;
    }
} 

@media print {
    .report_print_form {
        display: block; margin-top: 0px;

        /* other print styles here */

    }
 }

@media all{
  #page-one, .footer, .page-break { display:none; }
}

@media print
  {
  #page-one, .footer, .page-break   
    { 
    display: block;
    color:red; 
    font-family:Arial; 
    font-size: 16px; 
    text-transform: uppercase; 
    }
  .page-break
    {
    page-break-before:always;
    } 
}