body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.wide {
	width: 100%;
}

.no-text-decoration {
	text-decoration: none;
}

.flex {
	display: flex;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.justify-space-between {
	justify-content: space-between;
}

.center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.title {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.2rem;
}

.subtitle {
	margin-top: 1.5px;
	margin-bottom: 15px;
	font-size: 0.95rem;
}

.hidden {
	display: none;
}

.container {
	width: 90%;
	margin: auto;
}

.fluid-container {
	width: 90% !important;
	margin: auto;
}

@media (min-width: 800px) {
	.fluid-container {
		width: 70% !important;
	}
}

.bordered-wrapper {
	border: 1px solid #999966;
	border-radius: 7px;
}

.primary {
	background-color: #999966 !important;
}

.outlined {
	border: 1px solid #999966;
	border-radius: 5px;
	padding: 10px;
}

.primary-text {
	color: #999966 !important;
}

.link {
	color: #999966;
}

.white-text {
	color: white !important;
}

.card-btn {
	margin-bottom: 7px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.card-btn:hover {
	color: #fff;
	background-color: #999966;
}

.card-btn-disabled {
	background-color: #ccc !important;
}

.card-btn-disabled:hover {
	/* color: #; */
	background-color: #ccc;
}

.error-container {
	height: 95vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bold {
	font-weight: bold;
}
